<!-- Segunda barra de navegación -->
<nav class="sub-navbar">
    <a routerLink="/inicio">Inicio</a>
    <a routerLink="/perfil">Perfil</a>
    <a routerLink="/proyectos" class="active">Proyectos</a>
    <a routerLink="/red-contactos">Red de contactos</a>
  </nav>
  
  <div class="prediccion-container">
    <h1>Predicción de Éxito</h1>
  
    <!-- Resumen de Predicción -->
    <div class="card">
      <h2>Resumen de Predicción:</h2>
      <p>Probabilidad de Éxito: <strong>67%</strong></p>
      <p>Factores Claves: Innovación tecnológica, estrategia de mercado, gestión operativa.</p>
      <img src="assets/50.jpeg" alt="Gráfico Resumen" class="graph-image" />
    </div>
  
    <!-- Detalles del Análisis -->
    <div class="card">
      <h2>Detalles del Análisis:</h2>
      <p>Análisis de Datos: Tu proyecto muestra un alto potencial de crecimiento basado en datos anteriores.</p>
      <p>Comparación con Proyectos Similares: Proyectos similares han tenido un éxito del <strong>76%</strong> en promedio.</p>
      <img src="assets/51.jpeg" alt="Gráfico Análisis" class="graph-image" />
    </div>
  
    <!-- Recomendaciones -->
    <div class="card">
      <h2>Recomendaciones:</h2>
      <p>Ajusta tu estrategia de marketing para aumentar la visibilidad e identifica y mitiga los riesgos potenciales.</p>
      <img src="assets/52.jpeg" alt="Gráfico Recomendaciones" class="graph-image" />
    </div>
  </div>