<!-- Segunda barra de navegación -->
<nav class="sub-navbar">
    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
    <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
    <a routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
    <a routerLink="/red-contactos" routerLinkActive="active">Red de contactos</a>
  </nav>
  
  <!-- Contenido principal de Perfil -->
  <main class="perfil-content">
    <h2>Completa tu perfil para que los inversores te conozcan mejor</h2>
      <div class="perfil-container">
      
        <!-- Sección de la izquierda con icono -->
      <div class="perfil-icon">
        <img src="assets/3135768.png" alt="Perfil Icono" />
      </div>
  
      <!-- Tarjetas de información -->
      <div class="perfil-info">
        <div class="perfil-card">Nombre y Apellidos</div>
        <div class="perfil-card">Fecha Nacimiento</div>
        <div class="perfil-card">Educación</div>
        <div class="perfil-card">Experiencia Profesional</div>
        <div class="perfil-card detalles">
          Datos de interés: logros, trayectoria financiera, propuesta de valor, habilidades clave, etc.
        </div>
      </div>
    </div>
  </main>