<header>
  <div class="navbar">
    <!-- Logo -->
    <div class="logo">
      <img src="assets/sincronizacion-movil.png" alt="Network Solution Logo" />
      <span>NETWORK SOLUTION</span>
    </div>

    <!-- Enlaces del Navbar -->
    <nav>
      <a routerLink="/servicios">SERVICIOS</a>
      <a routerLink="/sobre-nosotros">SOBRE NOSOTROS</a>
    </nav>

    <!-- Icono de Usuario -->
    <div class="user-icon" (click)="irARegistro()">
      <img src="assets/perfil.png" alt="User Icon" />
    </div>
  </div>
</header>