
  <!-- Segunda barra de navegación -->
<nav class="sub-navbar">
    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
    <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
    <a routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
    <a routerLink="/red-contactos" routerLinkActive="active">Red de contactos</a>
  </nav>
  
  <!-- Contenido principal -->
  <main class="bienvenida-content">
    <h1>¡Nos alegra que estés aquí!</h1>
    <section class="eventos">
      <h2>Eventos próximos</h2>
      <div class="eventos-box">
        <p>
          Próximamente se publicarán varios eventos de interés los cuales
          aconsejamos asistir para potenciarse como emprendedor social.
        </p>
      </div>
    </section>
  </main>