<main class="servicios">
  <h1 class="titulo">¿Qué servicios ofrecemos?</h1>

  <div class="contenedor-servicios">

    <!-- Tarjeta de Inteligencia Artificial -->
    <div class="tarjeta">
      <img src="assets/p2.jpeg" alt="Inteligencia Artificial" />
      <h3>Inteligencia Artificial</h3>
      
      <!-- Botón para redirigir a la página de IA -->
      <button class="boton-ver-mas" routerLink="/inteligencia-artificial">
        Ver más →
      </button>
    </div>

    <!-- Tarjeta de Machine Learning -->
    <div class="tarjeta">
      <img src="assets/p1.jpeg" alt="Machine Learning" />
      <h3>Machine Learning</h3>
      <button class="boton-ver-mas" routerLink="/machine-learning">
        Ver más →
      </button>
    </div>
  </div>
</main>