<div class="contenedor-nosotros">
    <!-- Tarjeta Principal -->
    <div class="tarjeta-nosotros">
      <img src="assets/ns.webp" alt="Network Solution" class="imagen-nosotros" />
      <h1>Sobre Nosotros</h1>
      <p>
        Network Solution es una empresa que conecta emprendedores sociales con inversores, 
        apoyando el Desarrollo Sostenible y haciendo un trabajo docente para lograr un crecimiento económico.
      </p>
      <p>
        <strong>Nuestra Misión:</strong> Potenciar a emprendedores sociales usando Inteligencia Artificial y 
        Machine Learning, evaluando la viabilidad de los proyectos.
      </p>
      <p>
        <strong>Nuestra Visión:</strong> Convertirnos en la plataforma líder para apoyar a emprendedores sociales, 
        facilitando conexiones con inversores y promoviendo proyectos sostenibles.
      </p>
    </div>
  </div>