<!-- Segunda barra de navegación -->
<nav class="sub-navbar">
    <a routerLink="/inicio">Inicio</a>
    <a routerLink="/perfil">Perfil</a>
    <a routerLink="/proyectos" class="active">Proyectos</a>
    <a routerLink="/red-contactos">Red de contactos</a>
  </nav>
  
  <!-- Contenido Principal -->
  <div class="mejoras-container">
    <h1>Mejoras</h1>
  
    <div class="section">
      <h2><b>• Resumen de Evaluación:</b></h2>
      <p><b>Puntos Fuertes:</b> Sólida base técnica y equipo comprometido.</p>
      <p><b>Áreas de Mejora:</b> Optimizar estrategia de Marketing y mejorar la gestión financiera.</p>
    </div>
  
    <div class="section">
      <h2><b>• Sugerencias de Mejora:</b></h2>
      <p><b>Estrategia de Mercado:</b> Considera utilizar redes sociales y marketing de contenido.</p>
      <p><b>Modelo de Negocio:</b> Explora nuevas fuentes de ingresos.</p>
    </div>
  
    <div class="section">
      <h2><b>• Feedback y Seguimiento:</b></h2>
      <p><b>Comentarios de Expertos:</b> Enfócate en la optimización de costes operativos.</p>
      <p><b>Reportes de Actualización:</b> Informes mensuales sobre el progreso del proyecto.</p>
    </div>
  </div>
